//colors variable
$theme-primary: #5fc6b0;
$dark-theme-primary: rgba(61, 134, 118, 0.95);
$light-theme-primary: #dcfff8;
$white: #ffffff;
$black : #000000;
$light-gray: #ededed;
$light-red: #c55f60;
$dark-gray: #707070;
$medium-gray: #b4b4b4;
$medium-black: #212529;
